<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='create_event.css') }}"
    />
  </head>
  <body>
    <form action="submit" method="post">
      <h1>{{ message }}</h1>

      <label for="eventName"></label>
      <input
        type="text"
        id="eventName"
        name="eventName"
        value="New Event Name"
        placeholder="New Event Name"
      />

      <br />

      <label for="startTimeSelector">Start Time:</label>
      <select id="startTimeSelector" name="startTimeSelector">
        {% for hour in range(1, 25) %} {% set am_pm = "AM" if hour < 12 else
        ("AM" if hour == 24 else "PM") %} {% set display_hour = hour if hour <
        12 else (12 if hour == 12 else hour - 12) %}
        <option value="{{ '%02d:00%s' | format(display_hour, am_pm) }}">
          {{ '%02d:00' % display_hour }} {{ am_pm }}
        </option>
        {% endfor %}
      </select>

      <label for="endTimeSelector">End Time:</label>
      <select id="endTimeSelector" name="endTimeSelector">
        {% for hour in range(1, 25) %} {% set am_pm = "AM" if hour < 12 else
        ("AM" if hour == 24 else "PM") %} {% set display_hour = hour if hour <
        12 else (12 if hour == 12 else hour - 12) %}
        <option value="{{ '%02d:00%s' | format(display_hour, am_pm) }}">
          {{ '%02d:00' % display_hour }} {{ am_pm }}
        </option>
        {% endfor %}
      </select>

      <br />

      <label for="timezone">Time Zone:</label>
      <select id="timezone" name="timezone" required>
        {% for tz in timezones %}
        <option value="{{ tz }}">{{tz}}</option>
        {% endfor %}
      </select>

      <br />

      <div class="calendar-container">
        <header class="calendar-header">
          <p class="calendar-current-date"></p>
          <div class="calendar-navigation">
            <span id="calendar-prev" class="material-symbols-rounded"><</span>
            <span id="calendar-next" class="material-symbols-rounded">></span>
          </div>
        </header>

        <div class="calendar-body">
          <ul class="calendar-weekdays">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
          </ul>
          <ul class="calendar-dates"></ul>
        </div>
      </div>

      <input type="submit" value="Create Event" />
    </form>

    <script>
      // Detect user's time zone
      const userTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      const timezoneSelect = document.getElementById("timezone");

      // Check if the detected time zone is in the list and set it as selected
      for (let i = 0; i < timezoneSelect.options.length; i++) {
        if (timezoneSelect.options[i].value === userTimezone) {
          timezoneSelect.selectedIndex = i;
          break;
        }
      }

      let date = new Date();
      let year = date.getFullYear();
      let month = date.getMonth();

      const day = document.querySelector(".calendar-dates");
      const currdate = document.querySelector(".calendar-current-date");
      const prenexIcons = document.querySelectorAll(
        ".calendar-navigation span"
      );

      // Array of month names
      const months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];

      let availableDays = [];
      const maxSelections = 14;

      manipulate();
      selectedLi();

      // Attach a click event listener to each icon (previous and next)
      prenexIcons.forEach((icon) => {
        // When an icon is clicked
        icon.addEventListener("click", () => {
          // Check if the icon is "calendar-prev"
          // or "calendar-next"
          month = icon.id === "calendar-prev" ? month - 1 : month + 1;

          // Check if the month is out of range
          if (month < 0 || month > 11) {
            // Set the date to the first day of the
            // month with the new year
            date = new Date(year, month, new Date().getDate());

            // Set the year to the new year
            year = date.getFullYear();

            // Set the month to the new month
            month = date.getMonth();
          } else {
            // Set the date to the current date
            date = new Date();
          }

          // Call the manipulate function to
          // update the calendar display
          manipulate();
          selectedLi();
        });
      });

      // Handle form submission
      document
        .querySelector("form")
        .addEventListener("submit", async (event) => {
          event.preventDefault();

          const eventName = document.getElementById("eventName");

          if (eventName.value === "")
            return alert("Event name cannot be empty.");

          if (availableDays.length === 0)
            return alert("Event days cannot be empty.");

          handleSendRequest();
        });

      async function handleSendRequest() {
        const formData = new FormData(event.target);
        const payload = { participants: {} };
        const url = "http://localhost:5000/api/event/create";

        formData.forEach((value, key) => {
          payload[key] = value;
        });
        payload["availableDays"] = availableDays;

        // console.log(payload);

        try {
          const response = await fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
          });

          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }

          const responseData = await response.json();

          if (responseData.redirect_url) {
            window.location.href = responseData.redirect_url;
          }

          // set form data to default excluding timezone
          // const startTime = document.getElementById("startTimeSelector");
          // const endTime = document.getElementById("endTimeSelector");

          // eventName.value = "New Event Name";
          // startTime.selectedIndex = 0;
          // endTime.selectedIndex = 0;
          // availableDays = [];

          // date = new Date();
          // year = date.getFullYear();
          // month = date.getMonth();
          // manipulate();
          // selectedLi();
        } catch (error) {
          console.error(error);
        }
      }
      // Function to generate the calendar
      function manipulate() {
        // Get the first day of the month
        let dayone = new Date(year, month, 1).getDay();

        // Get the last date of the month
        let lastdate = new Date(year, month + 1, 0).getDate();

        // Get the day of the last date of the month
        let dayend = new Date(year, month, lastdate).getDay();

        // Get the last date of the previous month
        let monthlastdate = new Date(year, month, 0).getDate();

        // Variable to store the generated calendar HTML
        let lit = "";

        // Loop to add the last dates of the previous month
        for (let i = dayone; i > 0; i--) {
          lit += `<li class="inactive">${monthlastdate - i + 1}</li>`;
        }

        // Loop to add the dates of the current month
        for (let i = 1; i <= lastdate; i++) {
          // Check if the current date is today
          let isToday =
            i === date.getDate() &&
            month === new Date().getMonth() &&
            year === new Date().getFullYear()
              ? "active"
              : "";

          const day = (month + 1).toString() + "-" + i.toString() + "-" + year;

          lit += availableDays.indexOf(day)
            ? `<li class="${isToday}">${i}</li>`
            : `<li class="${isToday} calendar-selected">${i}</li>`;
        }

        // Loop to add the first dates of the next month
        for (let i = dayend; i < 6; i++) {
          lit += `<li class="inactive">${i - dayend + 1}</li>`;
        }

        // Update the text of the current date element
        // with the formatted current month and year
        currdate.innerText = `${months[month]} ${year}`;

        // update the HTML of the dates element
        // with the generated calendar
        day.innerHTML = lit;
      }

      // Track user's selected days
      function selectedLi() {
        const liElements = document.querySelectorAll(".calendar-dates li");
        liElements.forEach((calendar_li) => {
          calendar_li.addEventListener("click", (event) => {
            const selectedDate = getDateInfo(
              month + 1,
              parseInt(event.target.textContent),
              year
            );

            if (
              !event.target.classList.contains("inactive") &&
              !event.target.classList.contains("calendar-selected")
            ) {
              if (availableDays.length === maxSelections)
                return alert("You can only select up to 14 days.");

              event.target.classList.add("calendar-selected");
              availableDays.push(selectedDate);
              sortDates();
              // console.log(availableDays);
            } else {
              event.target.classList.remove("calendar-selected");
              const removeSelectedDayIndex =
                availableDays.indexOf(selectedDate);
              availableDays.splice(removeSelectedDayIndex, 1);
              sortDates();
              // console.log(availableDays);
            }
          });
        });
      }

      function getDateInfo(month, day, year) {
        const date = new Date(year, month - 1, day);
        const dayLong = date.toLocaleDateString("en-US", { weekday: "long" });
        const monthLong = date.toLocaleDateString("en-US", { month: "long" });
        return { month, day, dayLong, monthLong, year };
      }

      function sortDates() {
        availableDays.sort((a, b) => {
          // Compare year first
          if (a.year !== b.year) return a.year - b.year;

          // Compare month if years are the same
          if (a.month !== b.month) return a.month - b.month;

          // Compare day if both years and months are the same
          return a.day - b.day;
        });
      }
    </script>
  </body>
</html>
