<!DOCTYPE html>
<html>
  <head>
    <title>Create Meeting</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700;900&display=swap"
      rel="preload"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/create_event.min.css') }}"
    />
  </head>

  <body>
    <a href="/" id="planmeets" class="container">planmeets</a>

    <div id="create-meeting" class="container">
      <form id="form-container" action="submit" method="post">
        <h1>What is the meeting about?</h1>

        <section class="form-fields">
          <div>
            <label for="eventName">
              <img src="static/svg/meet.svg" alt="Meeting Name Icon" />
              Meeting name
            </label>
            <input
              type="text"
              id="eventName"
              name="eventName"
              value=""
              placeholder="E.g: Product Roadmapping Workshop"
            />
          </div>

          <div>
            <label for="description">
              <img src="static/svg/desc.svg" alt="Description Icon" />
              Description
            </label>
            <input
              type="text"
              id="description"
              name="description"
              value=""
              placeholder="E.g: Workshopping session with design and engineering"
            />
          </div>

          <h1>When is the meeting?</h1>

          <div>
            <label for="timezone">
              <img src="static/svg/timezone.svg" alt="Timezone Icon" />
              Timezone
            </label>
            <select id="timezone" name="timezone" required>
              {% for tz in timezones %}
              <option value="{{ tz }}">{{ tz }}</option>
              {% endfor %}
            </select>
          </div>

          <section class="timezone-container">
            <div>
              <label for="startTimeSelector">
                <img src="static/svg/start-clock.svg" alt="Start Clock Icon" />
                Start
              </label>
              <select id="startTimeSelector" name="startTimeSelector">
                {% for time in times %}
                <option value="{{ time }}">{{ time }}</option>
                {% endfor %}
              </select>
            </div>

            <div id="to">to</div>

            <div>
              <label for="endTimeSelector">
                <img src="static/svg/end-clock.svg" alt="End Clock Icon" />
                End
              </label>
              <select id="endTimeSelector" name="endTimeSelector">
                {% for time in times %}
                <option value="{{ time }}">{{ time }}</option>
                {% endfor %}
              </select>
            </div>
          </section>
        </section>

        <button id="submit" type="submit">Submit</button>
        <button id="cancel" type="button">Cancel</button>
      </form>

      <div class="calendar-container">
        <h1>When are you available?</h1>
        <section class="calendar">
          <header>
            <div>
              <img src="static/svg/calendar.svg" alt="Calendar Icon" />
              <span></span>
            </div>
            <nav class="calendar-nav">
              <button>
                <img
                  id="prev"
                  src="static/svg/left-arrow.svg"
                  alt="Previous Button Icon"
                />
              </button>
              <button>
                <img
                  id="next"
                  src="static/svg/right-arrow.svg"
                  alt="Next Button Icon"
                />
              </button>
            </nav>
          </header>

          <div class="month">
            <ul class="week">
              <li>Sun</li>
              <li>Mon</li>
              <li>Tue</li>
              <li>Wed</li>
              <li>Thu</li>
              <li>Fri</li>
              <li>Sat</li>
            </ul>
            <ul class="day"></ul>
          </div>
        </section>
      </div>
    </div>

    <script
      defer
      src="{{ url_for('static', filename='js/create.min.js') }}"
    ></script>
  </body>
</html>
