<!DOCTYPE html>
<html>
  <head>
    <title>Event View</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/event.css') }}"
    />
  </head>
  <body>
    <h1>Event View</h1>
    <div>Participants: {{ participants }}</div>
    <div>Event name: {{ event_name }}</div>
    <div>Description: {{ description }}</div>

    <label for="timezone">Time Zone:</label>
    <select id="timezone" name="timezone" required>
      {% for tz in timezones %}
      <option value="{{ tz }}">{{ tz }}</option>
      {% endfor %}
    </select>

    <section id="main-content">
      <form id="signin" action="submit" method="post">
        <label for="username">Sign In</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
        />
        <button>Sign In</button>
        <p>Username is only for this event.</p>
        <p>Returning? Use the same username.</p>
      </form>

      <section id="view-main-content">
        <div id="available-days">
          <div class="filler"></div>
        </div>
        <div id="time-container">
          <div id="display-times"></div>
          <div id="available-times"></div>
        </div>
      </section>
    </section>

    <section id="display-participants">
      <h1>1/1 Available</h1>
      <p>Mon 04 Aug 2024</p>
      <div>
        <div id="available">
          <div>👍 available</div>
          <div>user1</div>
        </div>
        <div id="unavailable">
          <div>👎 unavailable</div>
          <div>user2</div>
          <div>user3</div>
        </div>
      </div>
    </section>

    <script type="application/json" id="meeting">
      {{ meeting|safe }}
    </script>
    <script type="application/json" id="participants">
      {{ participants|safe }}
    </script>
    <script
      defer
      src="{{ url_for('static', filename='js/event.js') }}"
    ></script>
  </body>
</html>
