<!DOCTYPE html>
<html>
  <head>
    <title>Meeting</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/event.min.css') }}"
    />
  </head>
  <body>
    <a href="/" id="planmeets" class="container">planmeets</a>

    <section class="container meeting-info-container">
      <div>
        <div>
          <img src="static/svg/meet.svg" alt="Meeting Name Icon" />
          Meeting name
        </div>
        <div>{{ event_name }}</div>
      </div>

      <div>
        <div>
          <img src="static/svg/desc.svg" alt="Description Icon" />
          Description
        </div>
        <div>{{ description }}</div>
      </div>

      <div class="meeting-info-timezone">
        <label for="timezone">
          <img src="static/svg/timezone.svg" alt="Timezone Icon" />
          Timezone
        </label>
        <select id="timezone" name="timezone" required>
          {% for tz in timezones %}
          <option value="{{ tz }}">{{ tz }}</option>
          {% endfor %}
        </select>
      </div>
    </section>

    <form id="signin" class="container" action="submit" method="post">
      <label for="username">
        <img src="static/svg/profile.svg" alt="Profile Icon" />
        Username
      </label>
      <div>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="E.g: Christopher"
        />
        <button>Sign In</button>
      </div>
      <p>Username is only for this meeting.</p>
      <p>Returning? Use the same username.</p>
    </form>

    <section id="main-content" class="container">
      <div id="everyone-availability">
        <section id="view-main-content">
          <div>
            <h1>
              <img src="static/svg/calendar.svg" alt="Calendar Icon" />
              Everyone's Availability
              <div class="legend">
                <div class="legend-key" style="background-color: #949ce7">
                  Some
                </div>
                <div class="legend-key" style="background-color: #636fdc">
                  Most
                </div>
                <div class="legend-key" style="background-color: #3c4bd3">
                  All
                </div>
              </div>
            </h1>
            <div id="available-days">
              <div class="filler"></div>
            </div>
            <div id="time-container">
              <div id="display-times"></div>
              <div id="available-times"></div>
            </div>
          </div>
        </section>

        <section id="display-participants">
          <h1></h1>
          <p></p>
          <div>
            <div id="available"></div>
            <div id="unavailable"></div>
          </div>
        </section>
      </div>
    </section>

    <script type="application/json" id="meeting">
      {{ meeting|safe }}
    </script>
    <script type="application/json" id="participants">
      {{ participants|safe }}
    </script>
    <script
      defer
      src="{{ url_for('static', filename='js/event.min.js') }}"
    ></script>
  </body>
</html>
