* {
  margin: 0;
}

#display-participants div,
#main-content,
#time-container,
#view-main-content,
#available-days,
.available-day,
#display-times,
#display-times div,
.available-time-col,
#available-times {
  display: flex;
}

.filler,
.available-day,
#display-times div {
  width: 60px;
  height: 40px;
}

#available-times,
#display-times,
.available-time-col {
  width: fit-content;
}

#available,
#unavailable,
#view-main-content,
.available-day,
#display-times,
.available-time-col {
  flex-direction: column;
}

#display-times div,
.available-day {
  justify-content: center;
  align-items: center;
}

.available-time {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 59px;
  height: 39px;
}

.hide-display-participants {
  display: none;
}

.highlight-time {
  background-color: green;
}
